@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-attachment: fixed;
  background-color: #1b1b1b;
  background-image: linear-gradient(
      rgba(22, 29, 39, 0.85),
      rgba(22, 29, 39, 0.75)
    ),
    url(https://imc-blish-design-assets.s3.eu-central-1.amazonaws.com/logon-background-v2.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.5em;
  padding-bottom: 50px;
}

h1 {
  font-size: 30px;
  line-height: 38px;
}

h1,
h2 {
  align-items: center;
  font-weight: 300;
  letter-spacing: 0;
}

h2 {
  font-size: 26px;
  line-height: 32px;
}

h3 {
  font-size: 23px;
  font-weight: 300;
  line-height: 30px;
}

h4 {
  font-size: 19px;
  font-weight: 300;
  line-height: 25px;
}

h5 {
  font-size: 17px;
  line-height: 24px;
}

h6 {
  font-size: 14px;
  line-height: 20px;
}

li,
p {
  font-size: 17px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 24px;
}

.page-style h1,
.page-style h2,
.page-style h3 {
  margin: 1rem 0;
}
.page-style h4,
.page-style h5,
.page-style h6 {
  margin: 0.75rem 0;
}

.page-style p {
  margin: 0.5rem 0;
}
.page-style ul {
  margin: 0.5rem 0 0.5rem 1.5rem;
  list-style: disc;
}

.page-style ol {
  margin: 0.5rem 0 0.5rem 1.5rem;
  list-style: decimal;
}

.release h3 {
  margin: 0.83em 0;
}

.release p {
  margin: 4px 0 16px;
}

.release ol,
.release ul {
  line-height: 1.5;
  margin: 8px;
  padding-left: 16px;
}

.release li {
  list-style: disc;
}
.release li li {
  list-style: circle;
}

.release h2:after {
  background-color: #e9393e;
  content: "";
  display: block;
  height: 3px;
  margin-left: 0;
  margin-top: 8px;
  position: absolute;
  width: 30px;
}

.tutorialcard::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  background-size: cover;
  transform-origin: center;
  transition: transform 0.4s ease-in-out;
}

.tutorialcard:focus::after,
.tutorialcard:hover::after {
  transform: scale(1.03);
}

.home a,
.faq-item a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: border-bottom ease-in-out 200ms;
}
.home a:hover,
.faq-item a:hover {
  border-bottom: 2px solid rgba(255, 255, 255, 1);
}

.faq-item p {
  margin-bottom: 10px;
}

.faq-item ul {
  margin: 0 0 10px 15px;
  list-style: disc;
}

.faq-item ol {
  margin: 0 0 10px 15px;
  list-style: decimal;
}

.main-nav a {
  padding: 4px 12px;
}
#menu-toggle:checked + #menu {
  display: block;
}

.main-nav a::after {
  content: "";
  background: white;
  mix-blend-mode: exclusion;
  width: calc(100% + 10px);
  height: 0px;
  position: absolute;
  bottom: -4px;
  left: -5px;
  transition: 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  border-radius: 10px;
}
.main-nav a:hover::after {
  height: calc(100% + 8px);
}

.main-nav a.active::after {
  height: 1px;
}

table {
  overflow-x: auto;
}
table th {
  white-space: nowrap;
}
table td,
table th {
  padding: 12px 15px;
}

table tr:last-of-type {
  border-bottom: 2px solid rgb(54, 79, 115);
}
table thead tr {
  color: rgb(54, 79, 115);
  text-align: left;
}

tbody tr {
  border-bottom: 1px solid rgba(54, 79, 115, 0.8);
}

.cover {
  background: white;
  break-after: always;
  page-break-after: always;
  margin: 0mm 0mm !important;
}
.cover .lastUpdated {
  bottom: -30px;
  right: 0;
}

.cover .document-title {
  margin: 1em 0px 0 145px;
}

@media print {
  body {
    background: white;
    color: black;
    margin: 0;
    padding: 0;
  }
  .cover {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    background: white;
    break-after: always;
    page-break-after: always;
    margin: 0mm 0mm !important;
  }

  .cover .lastUpdated {
    bottom: -30px;
    left: 25mm;
  }

  .cover .document-title {
    margin: 1em 25mm 0 25mm;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  p {
    widows: 4;
    orphans: 3;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    page-break-after: avoid;
  }

  @page {
    background: white;
    size: A4 portrait;
    margin: 20mm 30mm;
    padding: 5mm 0mm;
    @top-left {
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2359.53 294.76' width='160' height='20%0A'%3E%3Cscript xmlns=''/%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23ff4637; %7D .cls-2 %7B fill: %23282828; %7D %3C/style%3E%3C/defs%3E%3Cg id='Typo_Path_Black' data-name='Typo Path Black'%3E%3Cg%3E%3Cpath class='cls-2' d='M526.63,218.6c0-10.73-3.79-18.98-11.37-24.72-7.58-5.75-21.22-11.81-40.92-18.19-19.7-6.38-35.3-12.66-46.79-18.85-31.33-16.92-46.98-39.72-46.98-68.39,0-14.9,4.2-28.2,12.6-39.88,8.4-11.68,20.46-20.81,36.19-27.38,15.72-6.57,33.37-9.85,52.95-9.85s37.26,3.57,52.67,10.7c15.41,7.14,27.38,17.21,35.9,30.22,8.53,13.01,12.79,27.79,12.79,44.33h-56.84c0-12.63-3.98-22.45-11.94-29.46s-19.13-10.51-33.53-10.51-24.69,2.94-32.4,8.81c-7.71,5.87-11.56,13.61-11.56,23.21,0,8.97,4.51,16.48,13.55,22.54,9.03,6.06,22.32,11.75,39.88,17.05,32.33,9.73,55.89,21.79,70.67,36.19s22.17,32.33,22.17,53.8c0,23.87-9.03,42.6-27.09,56.17-18.06,13.58-42.38,20.37-72.94,20.37-21.22,0-40.54-3.88-57.97-11.65s-30.72-18.41-39.88-31.92c-9.16-13.51-13.74-29.18-13.74-46.98h57.03c0,30.44,18.19,45.66,54.56,45.66,13.51,0,24.06-2.75,31.64-8.24s11.37-13.17,11.37-23.02Z'/%3E%3Cpath class='cls-2' d='M701.82,250.62c10.1,0,18.31-2.78,24.63-8.34,6.31-5.56,9.6-12.95,9.85-22.17h51.34c-.13,13.89-3.92,26.62-11.37,38.17-7.45,11.56-17.65,20.53-30.6,26.9-12.95,6.38-27.25,9.57-42.91,9.57-29.3,0-52.42-9.31-69.34-27.94-16.93-18.63-25.39-44.36-25.39-77.2v-3.6c0-31.57,8.4-56.77,25.2-75.59,16.8-18.82,39.85-28.23,69.15-28.23,25.64,0,46.19,7.29,61.67,21.88,15.47,14.59,23.33,34.01,23.59,58.26h-51.34c-.25-10.66-3.54-19.33-9.85-26-6.32-6.67-14.65-10-25.01-10-12.76,0-22.39,4.65-28.89,13.95-6.51,9.3-9.76,24.38-9.76,45.25v5.69c0,21.13,3.22,36.31,9.66,45.54,6.44,9.24,16.23,13.85,29.37,13.85Z'/%3E%3Cpath class='cls-2' d='M876.21,108.34c14.52-17.43,32.78-26.14,54.75-26.14,44.46,0,67,25.83,67.63,77.49v131.29h-54.75v-129.78c0-11.75-2.53-20.43-7.58-26.05-5.05-5.62-13.45-8.43-25.2-8.43-16.04,0-27.66,6.19-34.86,18.57v145.69h-54.75V-.02h54.75v108.37Z'/%3E%3Cpath class='cls-2' d='M1134.25,294.76c-30.06,0-54.53-9.22-73.41-27.66-18.88-18.44-28.32-43.01-28.32-73.7v-5.3c0-20.59,3.98-39,11.94-55.23,7.96-16.23,19.23-28.73,33.82-37.51,14.59-8.78,31.23-13.17,49.92-13.17,28.04,0,50.11,8.84,66.21,26.52,16.1,17.68,24.16,42.75,24.16,75.21v22.36h-130.53c1.77,13.39,7.1,24.12,16.01,32.21,8.9,8.08,20.18,12.12,33.82,12.12,21.09,0,37.57-7.64,49.45-22.92l26.9,30.12c-8.21,11.62-19.32,20.68-33.34,27.19-14.02,6.5-29.55,9.76-46.61,9.76ZM1128,126.34c-10.86,0-19.67,3.68-26.43,11.04-6.76,7.36-11.08,17.89-12.98,31.59h76.16v-4.38c-.25-12.18-3.54-21.6-9.85-28.26-6.32-6.66-15.28-9.99-26.9-9.99Z'/%3E%3Cpath class='cls-2' d='M1349.79,294.76c-30.06,0-54.53-9.22-73.41-27.66-18.88-18.44-28.32-43.01-28.32-73.7v-5.3c0-20.59,3.98-39,11.94-55.23,7.96-16.23,19.23-28.73,33.82-37.51,14.59-8.78,31.23-13.17,49.92-13.17,28.04,0,50.11,8.84,66.21,26.52,16.1,17.68,24.16,42.75,24.16,75.21v22.36h-130.53c1.77,13.39,7.1,24.12,16.01,32.21,8.9,8.08,20.18,12.12,33.82,12.12,21.09,0,37.57-7.64,49.45-22.92l26.9,30.12c-8.21,11.62-19.32,20.68-33.34,27.19-14.02,6.5-29.55,9.76-46.61,9.76ZM1343.54,126.34c-10.86,0-19.67,3.68-26.43,11.04-6.76,7.36-11.08,17.89-12.98,31.59h76.16v-4.38c-.25-12.18-3.54-21.6-9.85-28.26-6.32-6.66-15.28-9.99-26.9-9.99Z'/%3E%3Cpath class='cls-2' d='M1584.24,137.33c-7.45-1.01-14.02-1.52-19.7-1.52-20.72,0-34.29,7.01-40.73,21.03v134.13h-54.75V85.99h51.72l1.52,24.44c10.99-18.82,26.21-28.23,45.66-28.23,6.06,0,11.75.82,17.05,2.46l-.76,52.67Z'/%3E%3Cpath class='cls-2' d='M1757.21,290.98h-36.38V15.13h36.38v275.84Z'/%3E%3Cpath class='cls-2' d='M1870.69,15.13l90.18,225.07,90.18-225.07h47.17v275.84h-36.38v-107.42l3.41-115.95-90.56,223.37h-27.85l-90.37-222.8,3.6,115.38v107.42h-36.38V15.13h46.98Z'/%3E%3Cpath class='cls-2' d='M2359.53,203.45c-3.41,29.18-14.18,51.69-32.3,67.54-18.12,15.85-42.22,23.78-72.28,23.78-32.59,0-58.7-11.68-78.34-35.05-19.64-23.37-29.46-54.62-29.46-93.78v-26.52c0-25.64,4.58-48.18,13.74-67.63,9.16-19.45,22.13-34.39,38.93-44.81,16.8-10.42,36.25-15.63,58.35-15.63,29.3,0,52.79,8.18,70.48,24.53,17.68,16.36,27.97,39,30.88,67.92h-36.56c-3.16-22.04-10.01-38.01-20.56-47.89-10.55-9.88-25.29-14.82-44.24-14.82-23.24,0-41.46,8.6-54.66,25.79-13.2,17.19-19.8,41.65-19.8,73.38v26.74c0,29.96,6.25,53.79,18.76,71.49,12.5,17.7,30,26.54,52.48,26.54,20.21,0,35.71-4.58,46.51-13.74,10.8-9.16,17.97-25.1,21.5-47.84h36.56Z'/%3E%3C/g%3E%3C/g%3E%3Cg id='Signet_Red' data-name='Signet Red'%3E%3Cg%3E%3Cpolygon class='cls-1' points='.04 11.33 60.98 153.07 60.98 294.8 127.6 294.8 127.6 138.89 72.74 11.33 .04 11.33'/%3E%3Cpolygon class='cls-1' points='283.5 11.33 222.56 153.07 222.56 294.8 155.94 294.8 155.94 138.89 210.8 11.33 283.5 11.33'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      margin-top: 10mm;
    }
    @bottom-left {
      content: "imc GmbH";
      font-weight: bold;
    }
    @bottom-right {
      content: "Page " counter(page);
      font-weight: bold;
    }
  }

  /* prettier-ignore */
  @page:first{
    background: white;
    margin: 20mm 0mm;
    @top-right {
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2359.53 294.76' width='228' height='28 '%3E%3Cscript xmlns=''/%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23ff4637; %7D .cls-2 %7B fill: %23282828; %7D %3C/style%3E%3C/defs%3E%3Cg id='Typo_Path_Black' data-name='Typo Path Black'%3E%3Cg%3E%3Cpath class='cls-2' d='M526.63,218.6c0-10.73-3.79-18.98-11.37-24.72-7.58-5.75-21.22-11.81-40.92-18.19-19.7-6.38-35.3-12.66-46.79-18.85-31.33-16.92-46.98-39.72-46.98-68.39,0-14.9,4.2-28.2,12.6-39.88,8.4-11.68,20.46-20.81,36.19-27.38,15.72-6.57,33.37-9.85,52.95-9.85s37.26,3.57,52.67,10.7c15.41,7.14,27.38,17.21,35.9,30.22,8.53,13.01,12.79,27.79,12.79,44.33h-56.84c0-12.63-3.98-22.45-11.94-29.46s-19.13-10.51-33.53-10.51-24.69,2.94-32.4,8.81c-7.71,5.87-11.56,13.61-11.56,23.21,0,8.97,4.51,16.48,13.55,22.54,9.03,6.06,22.32,11.75,39.88,17.05,32.33,9.73,55.89,21.79,70.67,36.19s22.17,32.33,22.17,53.8c0,23.87-9.03,42.6-27.09,56.17-18.06,13.58-42.38,20.37-72.94,20.37-21.22,0-40.54-3.88-57.97-11.65s-30.72-18.41-39.88-31.92c-9.16-13.51-13.74-29.18-13.74-46.98h57.03c0,30.44,18.19,45.66,54.56,45.66,13.51,0,24.06-2.75,31.64-8.24s11.37-13.17,11.37-23.02Z'/%3E%3Cpath class='cls-2' d='M701.82,250.62c10.1,0,18.31-2.78,24.63-8.34,6.31-5.56,9.6-12.95,9.85-22.17h51.34c-.13,13.89-3.92,26.62-11.37,38.17-7.45,11.56-17.65,20.53-30.6,26.9-12.95,6.38-27.25,9.57-42.91,9.57-29.3,0-52.42-9.31-69.34-27.94-16.93-18.63-25.39-44.36-25.39-77.2v-3.6c0-31.57,8.4-56.77,25.2-75.59,16.8-18.82,39.85-28.23,69.15-28.23,25.64,0,46.19,7.29,61.67,21.88,15.47,14.59,23.33,34.01,23.59,58.26h-51.34c-.25-10.66-3.54-19.33-9.85-26-6.32-6.67-14.65-10-25.01-10-12.76,0-22.39,4.65-28.89,13.95-6.51,9.3-9.76,24.38-9.76,45.25v5.69c0,21.13,3.22,36.31,9.66,45.54,6.44,9.24,16.23,13.85,29.37,13.85Z'/%3E%3Cpath class='cls-2' d='M876.21,108.34c14.52-17.43,32.78-26.14,54.75-26.14,44.46,0,67,25.83,67.63,77.49v131.29h-54.75v-129.78c0-11.75-2.53-20.43-7.58-26.05-5.05-5.62-13.45-8.43-25.2-8.43-16.04,0-27.66,6.19-34.86,18.57v145.69h-54.75V-.02h54.75v108.37Z'/%3E%3Cpath class='cls-2' d='M1134.25,294.76c-30.06,0-54.53-9.22-73.41-27.66-18.88-18.44-28.32-43.01-28.32-73.7v-5.3c0-20.59,3.98-39,11.94-55.23,7.96-16.23,19.23-28.73,33.82-37.51,14.59-8.78,31.23-13.17,49.92-13.17,28.04,0,50.11,8.84,66.21,26.52,16.1,17.68,24.16,42.75,24.16,75.21v22.36h-130.53c1.77,13.39,7.1,24.12,16.01,32.21,8.9,8.08,20.18,12.12,33.82,12.12,21.09,0,37.57-7.64,49.45-22.92l26.9,30.12c-8.21,11.62-19.32,20.68-33.34,27.19-14.02,6.5-29.55,9.76-46.61,9.76ZM1128,126.34c-10.86,0-19.67,3.68-26.43,11.04-6.76,7.36-11.08,17.89-12.98,31.59h76.16v-4.38c-.25-12.18-3.54-21.6-9.85-28.26-6.32-6.66-15.28-9.99-26.9-9.99Z'/%3E%3Cpath class='cls-2' d='M1349.79,294.76c-30.06,0-54.53-9.22-73.41-27.66-18.88-18.44-28.32-43.01-28.32-73.7v-5.3c0-20.59,3.98-39,11.94-55.23,7.96-16.23,19.23-28.73,33.82-37.51,14.59-8.78,31.23-13.17,49.92-13.17,28.04,0,50.11,8.84,66.21,26.52,16.1,17.68,24.16,42.75,24.16,75.21v22.36h-130.53c1.77,13.39,7.1,24.12,16.01,32.21,8.9,8.08,20.18,12.12,33.82,12.12,21.09,0,37.57-7.64,49.45-22.92l26.9,30.12c-8.21,11.62-19.32,20.68-33.34,27.19-14.02,6.5-29.55,9.76-46.61,9.76ZM1343.54,126.34c-10.86,0-19.67,3.68-26.43,11.04-6.76,7.36-11.08,17.89-12.98,31.59h76.16v-4.38c-.25-12.18-3.54-21.6-9.85-28.26-6.32-6.66-15.28-9.99-26.9-9.99Z'/%3E%3Cpath class='cls-2' d='M1584.24,137.33c-7.45-1.01-14.02-1.52-19.7-1.52-20.72,0-34.29,7.01-40.73,21.03v134.13h-54.75V85.99h51.72l1.52,24.44c10.99-18.82,26.21-28.23,45.66-28.23,6.06,0,11.75.82,17.05,2.46l-.76,52.67Z'/%3E%3Cpath class='cls-2' d='M1757.21,290.98h-36.38V15.13h36.38v275.84Z'/%3E%3Cpath class='cls-2' d='M1870.69,15.13l90.18,225.07,90.18-225.07h47.17v275.84h-36.38v-107.42l3.41-115.95-90.56,223.37h-27.85l-90.37-222.8,3.6,115.38v107.42h-36.38V15.13h46.98Z'/%3E%3Cpath class='cls-2' d='M2359.53,203.45c-3.41,29.18-14.18,51.69-32.3,67.54-18.12,15.85-42.22,23.78-72.28,23.78-32.59,0-58.7-11.68-78.34-35.05-19.64-23.37-29.46-54.62-29.46-93.78v-26.52c0-25.64,4.58-48.18,13.74-67.63,9.16-19.45,22.13-34.39,38.93-44.81,16.8-10.42,36.25-15.63,58.35-15.63,29.3,0,52.79,8.18,70.48,24.53,17.68,16.36,27.97,39,30.88,67.92h-36.56c-3.16-22.04-10.01-38.01-20.56-47.89-10.55-9.88-25.29-14.82-44.24-14.82-23.24,0-41.46,8.6-54.66,25.79-13.2,17.19-19.8,41.65-19.8,73.38v26.74c0,29.96,6.25,53.79,18.76,71.49,12.5,17.7,30,26.54,52.48,26.54,20.21,0,35.71-4.58,46.51-13.74,10.8-9.16,17.97-25.1,21.5-47.84h36.56Z'/%3E%3C/g%3E%3C/g%3E%3Cg id='Signet_Red' data-name='Signet Red'%3E%3Cg%3E%3Cpolygon class='cls-1' points='.04 11.33 60.98 153.07 60.98 294.8 127.6 294.8 127.6 138.89 72.74 11.33 .04 11.33'/%3E%3Cpolygon class='cls-1' points='283.5 11.33 222.56 153.07 222.56 294.8 155.94 294.8 155.94 138.89 210.8 11.33 283.5 11.33'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      margin-top: 10mm;
      margin-right: 20mm;
    }
    @top-left {
      content: "";
    }
    @bottom-left {
      content: "";
    }
    @bottom-right {
      content: "";
    }
  }
}
