@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-attachment: fixed;
  background-color: #1b1b1b;
  background-image: linear-gradient(
      rgba(22, 29, 39, 0.85),
      rgba(22, 29, 39, 0.75)
    ),
    url(https://imc-blish-design-assets.s3.eu-central-1.amazonaws.com/logon-background-v2.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.5em;
  padding-bottom: 50px;
}

h1 {
  font-size: 30px;
  line-height: 38px;
}

h1,
h2 {
  align-items: center;
  font-weight: 300;
  letter-spacing: 0;
}

h2 {
  font-size: 26px;
  line-height: 32px;
}

h3 {
  font-size: 23px;
  font-weight: 300;
  line-height: 30px;
}

h4 {
  font-size: 19px;
  font-weight: 300;
  line-height: 25px;
}

h5 {
  font-size: 17px;
  line-height: 24px;
}

h6 {
  font-size: 14px;
  line-height: 20px;
}

li,
p {
  font-size: 17px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 24px;
}

.page-style h1,
.page-style h2,
.page-style h3 {
  margin: 1rem 0;
}
.page-style h4,
.page-style h5,
.page-style h6 {
  margin: 0.75rem 0;
}

.page-style p {
  margin: 0.5rem 0;
}
.page-style ul {
  margin: 0.5rem 0 0.5rem 1.5rem;
  list-style: disc;
}

.page-style ol {
  margin: 0.5rem 0 0.5rem 1.5rem;
  list-style: decimal;
}

.release h3 {
  margin: 0.83em 0;
}

.release p {
  margin: 4px 0 16px;
}

.release ol,
.release ul {
  line-height: 1.5;
  margin: 8px;
  padding-left: 16px;
}

.release li {
  list-style: disc;
}
.release li li {
  list-style: circle;
}

.release h2:after {
  background-color: #e9393e;
  content: "";
  display: block;
  height: 3px;
  margin-left: 0;
  margin-top: 8px;
  position: absolute;
  width: 30px;
}

.tutorialcard::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  background-size: cover;
  transform-origin: center;
  transition: transform 0.4s ease-in-out;
}

.tutorialcard:focus::after,
.tutorialcard:hover::after {
  transform: scale(1.03);
}

.home a,
.faq-item a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: border-bottom ease-in-out 200ms;
}
.home a:hover,
.faq-item a:hover {
  border-bottom: 2px solid rgba(255, 255, 255, 1);
}

.faq-item p {
  margin-bottom: 10px;
}

.faq-item ul {
  margin: 0 0 10px 15px;
  list-style: disc;
}

.faq-item ol {
  margin: 0 0 10px 15px;
  list-style: decimal;
}

.main-nav a {
  padding: 4px 12px;
}
#menu-toggle:checked + #menu {
  display: block;
}

.main-nav a::after {
  content: "";
  background: white;
  mix-blend-mode: exclusion;
  width: calc(100% + 10px);
  height: 0px;
  position: absolute;
  bottom: -4px;
  left: -5px;
  transition: 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  border-radius: 10px;
}
.main-nav a:hover::after {
  height: calc(100% + 8px);
}

.main-nav a.active::after {
  height: 1px;
}

table {
  overflow-x: auto;
}
table th {
  white-space: nowrap;
}
table td,
table th {
  padding: 12px 15px;
}

table tr:last-of-type {
  border-bottom: 2px solid rgb(54, 79, 115);
}
table thead tr {
  color: rgb(54, 79, 115);
  text-align: left;
}

tbody tr {
  border-bottom: 1px solid rgba(54, 79, 115, 0.8);
}

.cover {
  background: white;
  break-after: always;
  page-break-after: always;
  margin: 0mm 0mm !important;
}
.cover .lastUpdated {
  bottom: -30px;
  left: 0;
}

@media print {
  body {
    background: white;
    color: black;
    margin: 0;
    padding: 0;
  }
  .cover {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    background: white;
    break-after: always;
    page-break-after: always;
    margin: 0mm 0mm !important;
  }

  .cover .lastUpdated {
    bottom: -30px;
    left: 0;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  p {
    widows: 4;
    orphans: 3;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    page-break-after: avoid;
  }

  @page {
    background: white;
    size: A4 portrait;
    margin: 20mm 30mm;
    padding: 5mm 0mm;
    @top-left {
      content: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22160%22%20height%3D%2220%22%20viewBox%3D%220%200%202359.53%20294.76%22%3E%3Cscript%20xmlns%3D%22%22%2F%3E%3Cg%20id%3D%22Typo_Path_Black%22%20data-name%3D%22Typo%20Path%20Black%22%3E%3Cg%3E%3Cpath%20class%3D%22cls-2%22%20d%3D%22M526.63%2C218.6c0-10.73-3.79-18.98-11.37-24.72-7.58-5.75-21.22-11.81-40.92-18.19-19.7-6.38-35.3-12.66-46.79-18.85-31.33-16.92-46.98-39.72-46.98-68.39%2C0-14.9%2C4.2-28.2%2C12.6-39.88%2C8.4-11.68%2C20.46-20.81%2C36.19-27.38%2C15.72-6.57%2C33.37-9.85%2C52.95-9.85s37.26%2C3.57%2C52.67%2C10.7c15.41%2C7.14%2C27.38%2C17.21%2C35.9%2C30.22%2C8.53%2C13.01%2C12.79%2C27.79%2C12.79%2C44.33h-56.84c0-12.63-3.98-22.45-11.94-29.46s-19.13-10.51-33.53-10.51-24.69%2C2.94-32.4%2C8.81c-7.71%2C5.87-11.56%2C13.61-11.56%2C23.21%2C0%2C8.97%2C4.51%2C16.48%2C13.55%2C22.54%2C9.03%2C6.06%2C22.32%2C11.75%2C39.88%2C17.05%2C32.33%2C9.73%2C55.89%2C21.79%2C70.67%2C36.19s22.17%2C32.33%2C22.17%2C53.8c0%2C23.87-9.03%2C42.6-27.09%2C56.17-18.06%2C13.58-42.38%2C20.37-72.94%2C20.37-21.22%2C0-40.54-3.88-57.97-11.65s-30.72-18.41-39.88-31.92c-9.16-13.51-13.74-29.18-13.74-46.98h57.03c0%2C30.44%2C18.19%2C45.66%2C54.56%2C45.66%2C13.51%2C0%2C24.06-2.75%2C31.64-8.24s11.37-13.17%2C11.37-23.02Z%22%2F%3E%3Cpath%20class%3D%22cls-2%22%20d%3D%22M701.82%2C250.62c10.1%2C0%2C18.31-2.78%2C24.63-8.34%2C6.31-5.56%2C9.6-12.95%2C9.85-22.17h51.34c-.13%2C13.89-3.92%2C26.62-11.37%2C38.17-7.45%2C11.56-17.65%2C20.53-30.6%2C26.9-12.95%2C6.38-27.25%2C9.57-42.91%2C9.57-29.3%2C0-52.42-9.31-69.34-27.94-16.93-18.63-25.39-44.36-25.39-77.2v-3.6c0-31.57%2C8.4-56.77%2C25.2-75.59%2C16.8-18.82%2C39.85-28.23%2C69.15-28.23%2C25.64%2C0%2C46.19%2C7.29%2C61.67%2C21.88%2C15.47%2C14.59%2C23.33%2C34.01%2C23.59%2C58.26h-51.34c-.25-10.66-3.54-19.33-9.85-26-6.32-6.67-14.65-10-25.01-10-12.76%2C0-22.39%2C4.65-28.89%2C13.95-6.51%2C9.3-9.76%2C24.38-9.76%2C45.25v5.69c0%2C21.13%2C3.22%2C36.31%2C9.66%2C45.54%2C6.44%2C9.24%2C16.23%2C13.85%2C29.37%2C13.85Z%22%2F%3E%3Cpath%20class%3D%22cls-2%22%20d%3D%22M876.21%2C108.34c14.52-17.43%2C32.78-26.14%2C54.75-26.14%2C44.46%2C0%2C67%2C25.83%2C67.63%2C77.49v131.29h-54.75v-129.78c0-11.75-2.53-20.43-7.58-26.05-5.05-5.62-13.45-8.43-25.2-8.43-16.04%2C0-27.66%2C6.19-34.86%2C18.57v145.69h-54.75V-.02h54.75v108.37Z%22%2F%3E%3Cpath%20class%3D%22cls-2%22%20d%3D%22M1134.25%2C294.76c-30.06%2C0-54.53-9.22-73.41-27.66-18.88-18.44-28.32-43.01-28.32-73.7v-5.3c0-20.59%2C3.98-39%2C11.94-55.23%2C7.96-16.23%2C19.23-28.73%2C33.82-37.51%2C14.59-8.78%2C31.23-13.17%2C49.92-13.17%2C28.04%2C0%2C50.11%2C8.84%2C66.21%2C26.52%2C16.1%2C17.68%2C24.16%2C42.75%2C24.16%2C75.21v22.36h-130.53c1.77%2C13.39%2C7.1%2C24.12%2C16.01%2C32.21%2C8.9%2C8.08%2C20.18%2C12.12%2C33.82%2C12.12%2C21.09%2C0%2C37.57-7.64%2C49.45-22.92l26.9%2C30.12c-8.21%2C11.62-19.32%2C20.68-33.34%2C27.19-14.02%2C6.5-29.55%2C9.76-46.61%2C9.76ZM1128%2C126.34c-10.86%2C0-19.67%2C3.68-26.43%2C11.04-6.76%2C7.36-11.08%2C17.89-12.98%2C31.59h76.16v-4.38c-.25-12.18-3.54-21.6-9.85-28.26-6.32-6.66-15.28-9.99-26.9-9.99Z%22%2F%3E%3Cpath%20class%3D%22cls-2%22%20d%3D%22M1349.79%2C294.76c-30.06%2C0-54.53-9.22-73.41-27.66-18.88-18.44-28.32-43.01-28.32-73.7v-5.3c0-20.59%2C3.98-39%2C11.94-55.23%2C7.96-16.23%2C19.23-28.73%2C33.82-37.51%2C14.59-8.78%2C31.23-13.17%2C49.92-13.17%2C28.04%2C0%2C50.11%2C8.84%2C66.21%2C26.52%2C16.1%2C17.68%2C24.16%2C42.75%2C24.16%2C75.21v22.36h-130.53c1.77%2C13.39%2C7.1%2C24.12%2C16.01%2C32.21%2C8.9%2C8.08%2C20.18%2C12.12%2C33.82%2C12.12%2C21.09%2C0%2C37.57-7.64%2C49.45-22.92l26.9%2C30.12c-8.21%2C11.62-19.32%2C20.68-33.34%2C27.19-14.02%2C6.5-29.55%2C9.76-46.61%2C9.76ZM1343.54%2C126.34c-10.86%2C0-19.67%2C3.68-26.43%2C11.04-6.76%2C7.36-11.08%2C17.89-12.98%2C31.59h76.16v-4.38c-.25-12.18-3.54-21.6-9.85-28.26-6.32-6.66-15.28-9.99-26.9-9.99Z%22%2F%3E%3Cpath%20class%3D%22cls-2%22%20d%3D%22M1584.24%2C137.33c-7.45-1.01-14.02-1.52-19.7-1.52-20.72%2C0-34.29%2C7.01-40.73%2C21.03v134.13h-54.75V85.99h51.72l1.52%2C24.44c10.99-18.82%2C26.21-28.23%2C45.66-28.23%2C6.06%2C0%2C11.75.82%2C17.05%2C2.46l-.76%2C52.67Z%22%2F%3E%3Cpath%20class%3D%22cls-2%22%20d%3D%22M1757.21%2C290.98h-36.38V15.13h36.38v275.84Z%22%2F%3E%3Cpath%20class%3D%22cls-2%22%20d%3D%22M1870.69%2C15.13l90.18%2C225.07%2C90.18-225.07h47.17v275.84h-36.38v-107.42l3.41-115.95-90.56%2C223.37h-27.85l-90.37-222.8%2C3.6%2C115.38v107.42h-36.38V15.13h46.98Z%22%2F%3E%3Cpath%20class%3D%22cls-2%22%20d%3D%22M2359.53%2C203.45c-3.41%2C29.18-14.18%2C51.69-32.3%2C67.54-18.12%2C15.85-42.22%2C23.78-72.28%2C23.78-32.59%2C0-58.7-11.68-78.34-35.05-19.64-23.37-29.46-54.62-29.46-93.78v-26.52c0-25.64%2C4.58-48.18%2C13.74-67.63%2C9.16-19.45%2C22.13-34.39%2C38.93-44.81%2C16.8-10.42%2C36.25-15.63%2C58.35-15.63%2C29.3%2C0%2C52.79%2C8.18%2C70.48%2C24.53%2C17.68%2C16.36%2C27.97%2C39%2C30.88%2C67.92h-36.56c-3.16-22.04-10.01-38.01-20.56-47.89-10.55-9.88-25.29-14.82-44.24-14.82-23.24%2C0-41.46%2C8.6-54.66%2C25.79-13.2%2C17.19-19.8%2C41.65-19.8%2C73.38v26.74c0%2C29.96%2C6.25%2C53.79%2C18.76%2C71.49%2C12.5%2C17.7%2C30%2C26.54%2C52.48%2C26.54%2C20.21%2C0%2C35.71-4.58%2C46.51-13.74%2C10.8-9.16%2C17.97-25.1%2C21.5-47.84h36.56Z%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3Cg%20id%3D%22Signet_Red%22%20data-name%3D%22Signet%20Red%22%3E%3Cg%3E%3Cpolygon%20class%3D%22cls-1%22%20points%3D%22.04%2011.33%2060.98%20153.07%2060.98%20294.8%20127.6%20294.8%20127.6%20138.89%2072.74%2011.33%20.04%2011.33%22%2F%3E%3Cpolygon%20class%3D%22cls-1%22%20points%3D%22283.5%2011.33%20222.56%20153.07%20222.56%20294.8%20155.94%20294.8%20155.94%20138.89%20210.8%2011.33%20283.5%2011.33%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E");
      margin-top: 10mm;
    }
    @bottom-left {
      content: "imc GmbH";
      font-weight: bold;
    }
    @bottom-right {
      content: "Page " counter(page);
      font-weight: bold;
    }
  }

  /* prettier-ignore */
  @page:first{
    background: white;
    margin: 20mm 0mm;
    @top-right {
      content: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22228%22%20height%3D%2228%22%20viewBox%3D%220%200%202359.53%20294.76%22%3E%3Cscript%20xmlns%3D%22%22%2F%3E%3Cg%20id%3D%22Typo_Path_Black%22%20data-name%3D%22Typo%20Path%20Black%22%3E%3Cg%3E%3Cpath%20class%3D%22cls-2%22%20d%3D%22M526.63%2C218.6c0-10.73-3.79-18.98-11.37-24.72-7.58-5.75-21.22-11.81-40.92-18.19-19.7-6.38-35.3-12.66-46.79-18.85-31.33-16.92-46.98-39.72-46.98-68.39%2C0-14.9%2C4.2-28.2%2C12.6-39.88%2C8.4-11.68%2C20.46-20.81%2C36.19-27.38%2C15.72-6.57%2C33.37-9.85%2C52.95-9.85s37.26%2C3.57%2C52.67%2C10.7c15.41%2C7.14%2C27.38%2C17.21%2C35.9%2C30.22%2C8.53%2C13.01%2C12.79%2C27.79%2C12.79%2C44.33h-56.84c0-12.63-3.98-22.45-11.94-29.46s-19.13-10.51-33.53-10.51-24.69%2C2.94-32.4%2C8.81c-7.71%2C5.87-11.56%2C13.61-11.56%2C23.21%2C0%2C8.97%2C4.51%2C16.48%2C13.55%2C22.54%2C9.03%2C6.06%2C22.32%2C11.75%2C39.88%2C17.05%2C32.33%2C9.73%2C55.89%2C21.79%2C70.67%2C36.19s22.17%2C32.33%2C22.17%2C53.8c0%2C23.87-9.03%2C42.6-27.09%2C56.17-18.06%2C13.58-42.38%2C20.37-72.94%2C20.37-21.22%2C0-40.54-3.88-57.97-11.65s-30.72-18.41-39.88-31.92c-9.16-13.51-13.74-29.18-13.74-46.98h57.03c0%2C30.44%2C18.19%2C45.66%2C54.56%2C45.66%2C13.51%2C0%2C24.06-2.75%2C31.64-8.24s11.37-13.17%2C11.37-23.02Z%22%2F%3E%3Cpath%20class%3D%22cls-2%22%20d%3D%22M701.82%2C250.62c10.1%2C0%2C18.31-2.78%2C24.63-8.34%2C6.31-5.56%2C9.6-12.95%2C9.85-22.17h51.34c-.13%2C13.89-3.92%2C26.62-11.37%2C38.17-7.45%2C11.56-17.65%2C20.53-30.6%2C26.9-12.95%2C6.38-27.25%2C9.57-42.91%2C9.57-29.3%2C0-52.42-9.31-69.34-27.94-16.93-18.63-25.39-44.36-25.39-77.2v-3.6c0-31.57%2C8.4-56.77%2C25.2-75.59%2C16.8-18.82%2C39.85-28.23%2C69.15-28.23%2C25.64%2C0%2C46.19%2C7.29%2C61.67%2C21.88%2C15.47%2C14.59%2C23.33%2C34.01%2C23.59%2C58.26h-51.34c-.25-10.66-3.54-19.33-9.85-26-6.32-6.67-14.65-10-25.01-10-12.76%2C0-22.39%2C4.65-28.89%2C13.95-6.51%2C9.3-9.76%2C24.38-9.76%2C45.25v5.69c0%2C21.13%2C3.22%2C36.31%2C9.66%2C45.54%2C6.44%2C9.24%2C16.23%2C13.85%2C29.37%2C13.85Z%22%2F%3E%3Cpath%20class%3D%22cls-2%22%20d%3D%22M876.21%2C108.34c14.52-17.43%2C32.78-26.14%2C54.75-26.14%2C44.46%2C0%2C67%2C25.83%2C67.63%2C77.49v131.29h-54.75v-129.78c0-11.75-2.53-20.43-7.58-26.05-5.05-5.62-13.45-8.43-25.2-8.43-16.04%2C0-27.66%2C6.19-34.86%2C18.57v145.69h-54.75V-.02h54.75v108.37Z%22%2F%3E%3Cpath%20class%3D%22cls-2%22%20d%3D%22M1134.25%2C294.76c-30.06%2C0-54.53-9.22-73.41-27.66-18.88-18.44-28.32-43.01-28.32-73.7v-5.3c0-20.59%2C3.98-39%2C11.94-55.23%2C7.96-16.23%2C19.23-28.73%2C33.82-37.51%2C14.59-8.78%2C31.23-13.17%2C49.92-13.17%2C28.04%2C0%2C50.11%2C8.84%2C66.21%2C26.52%2C16.1%2C17.68%2C24.16%2C42.75%2C24.16%2C75.21v22.36h-130.53c1.77%2C13.39%2C7.1%2C24.12%2C16.01%2C32.21%2C8.9%2C8.08%2C20.18%2C12.12%2C33.82%2C12.12%2C21.09%2C0%2C37.57-7.64%2C49.45-22.92l26.9%2C30.12c-8.21%2C11.62-19.32%2C20.68-33.34%2C27.19-14.02%2C6.5-29.55%2C9.76-46.61%2C9.76ZM1128%2C126.34c-10.86%2C0-19.67%2C3.68-26.43%2C11.04-6.76%2C7.36-11.08%2C17.89-12.98%2C31.59h76.16v-4.38c-.25-12.18-3.54-21.6-9.85-28.26-6.32-6.66-15.28-9.99-26.9-9.99Z%22%2F%3E%3Cpath%20class%3D%22cls-2%22%20d%3D%22M1349.79%2C294.76c-30.06%2C0-54.53-9.22-73.41-27.66-18.88-18.44-28.32-43.01-28.32-73.7v-5.3c0-20.59%2C3.98-39%2C11.94-55.23%2C7.96-16.23%2C19.23-28.73%2C33.82-37.51%2C14.59-8.78%2C31.23-13.17%2C49.92-13.17%2C28.04%2C0%2C50.11%2C8.84%2C66.21%2C26.52%2C16.1%2C17.68%2C24.16%2C42.75%2C24.16%2C75.21v22.36h-130.53c1.77%2C13.39%2C7.1%2C24.12%2C16.01%2C32.21%2C8.9%2C8.08%2C20.18%2C12.12%2C33.82%2C12.12%2C21.09%2C0%2C37.57-7.64%2C49.45-22.92l26.9%2C30.12c-8.21%2C11.62-19.32%2C20.68-33.34%2C27.19-14.02%2C6.5-29.55%2C9.76-46.61%2C9.76ZM1343.54%2C126.34c-10.86%2C0-19.67%2C3.68-26.43%2C11.04-6.76%2C7.36-11.08%2C17.89-12.98%2C31.59h76.16v-4.38c-.25-12.18-3.54-21.6-9.85-28.26-6.32-6.66-15.28-9.99-26.9-9.99Z%22%2F%3E%3Cpath%20class%3D%22cls-2%22%20d%3D%22M1584.24%2C137.33c-7.45-1.01-14.02-1.52-19.7-1.52-20.72%2C0-34.29%2C7.01-40.73%2C21.03v134.13h-54.75V85.99h51.72l1.52%2C24.44c10.99-18.82%2C26.21-28.23%2C45.66-28.23%2C6.06%2C0%2C11.75.82%2C17.05%2C2.46l-.76%2C52.67Z%22%2F%3E%3Cpath%20class%3D%22cls-2%22%20d%3D%22M1757.21%2C290.98h-36.38V15.13h36.38v275.84Z%22%2F%3E%3Cpath%20class%3D%22cls-2%22%20d%3D%22M1870.69%2C15.13l90.18%2C225.07%2C90.18-225.07h47.17v275.84h-36.38v-107.42l3.41-115.95-90.56%2C223.37h-27.85l-90.37-222.8%2C3.6%2C115.38v107.42h-36.38V15.13h46.98Z%22%2F%3E%3Cpath%20class%3D%22cls-2%22%20d%3D%22M2359.53%2C203.45c-3.41%2C29.18-14.18%2C51.69-32.3%2C67.54-18.12%2C15.85-42.22%2C23.78-72.28%2C23.78-32.59%2C0-58.7-11.68-78.34-35.05-19.64-23.37-29.46-54.62-29.46-93.78v-26.52c0-25.64%2C4.58-48.18%2C13.74-67.63%2C9.16-19.45%2C22.13-34.39%2C38.93-44.81%2C16.8-10.42%2C36.25-15.63%2C58.35-15.63%2C29.3%2C0%2C52.79%2C8.18%2C70.48%2C24.53%2C17.68%2C16.36%2C27.97%2C39%2C30.88%2C67.92h-36.56c-3.16-22.04-10.01-38.01-20.56-47.89-10.55-9.88-25.29-14.82-44.24-14.82-23.24%2C0-41.46%2C8.6-54.66%2C25.79-13.2%2C17.19-19.8%2C41.65-19.8%2C73.38v26.74c0%2C29.96%2C6.25%2C53.79%2C18.76%2C71.49%2C12.5%2C17.7%2C30%2C26.54%2C52.48%2C26.54%2C20.21%2C0%2C35.71-4.58%2C46.51-13.74%2C10.8-9.16%2C17.97-25.1%2C21.5-47.84h36.56Z%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3Cg%20id%3D%22Signet_Red%22%20data-name%3D%22Signet%20Red%22%3E%3Cg%3E%3Cpolygon%20class%3D%22cls-1%22%20points%3D%22.04%2011.33%2060.98%20153.07%2060.98%20294.8%20127.6%20294.8%20127.6%20138.89%2072.74%2011.33%20.04%2011.33%22%2F%3E%3Cpolygon%20class%3D%22cls-1%22%20points%3D%22283.5%2011.33%20222.56%20153.07%20222.56%20294.8%20155.94%20294.8%20155.94%20138.89%20210.8%2011.33%20283.5%2011.33%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E");
      margin-top: 10mm;
      margin-right: 20mm;
    }
    @top-left {
      content: "";
    }
    @bottom-left {
      content: "";
    }
    @bottom-right {
      content: "";
    }
  }
}
