@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-attachment: fixed;
  background-color: #1b1b1b;
  background-image: linear-gradient(
      rgba(22, 29, 39, 0.85),
      rgba(22, 29, 39, 0.75)
    ),
    url(https://imc-blish-design-assets.s3.eu-central-1.amazonaws.com/logon-background-v2.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.5em;
  padding-bottom: 50px;
}

h1 {
  font-size: 30px;
  line-height: 38px;
}

h1,
h2 {
  align-items: center;
  font-weight: 300;
  letter-spacing: 0;
}

h2 {
  font-size: 26px;
  line-height: 32px;
}

h3 {
  font-size: 23px;
  font-weight: 300;
  line-height: 30px;
}

h4 {
  font-size: 19px;
  font-weight: 300;
  line-height: 25px;
}

h5 {
  font-size: 17px;
  line-height: 24px;
}

h6 {
  font-size: 14px;
  line-height: 20px;
}

li,
p {
  font-size: 17px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 24px;
}

.page-style h1,
.page-style h2,
.page-style h3 {
  margin: 1rem 0;
}
.page-style h4,
.page-style h5,
.page-style h6 {
  margin: 0.75rem 0;
}

.page-style p {
  margin: 0.5rem 0;
}
.page-style ul {
  margin: 0.5rem 0 0.5rem 1.5rem;
  list-style: disc;
}

.release h3 {
  margin: 0.83em 0;
}

.release p {
  margin: 4px 0 16px;
}

.release ol,
.release ul {
  line-height: 1.5;
  margin: 8px;
  padding-left: 16px;
}

.release li {
  list-style: disc;
}
.release li li {
  list-style: circle;
}

.release h2:after {
  background-color: #e9393e;
  content: "";
  display: block;
  height: 3px;
  margin-left: 0;
  margin-top: 8px;
  position: absolute;
  width: 30px;
}

.tutorialcard::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  background-size: cover;
  transform-origin: center;
  transition: transform 0.4s ease-in-out;
}

.tutorialcard:focus::after,
.tutorialcard:hover::after {
  transform: scale(1.03);
}

.home a,
.faq-item a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: border-bottom ease-in-out 200ms;
}
.home a:hover,
.faq-item a:hover {
  border-bottom: 2px solid rgba(255, 255, 255, 1);
}
.main-nav a {
  padding: 4px 12px;
}
#menu-toggle:checked + #menu {
  display: block;
}

.main-nav a::after {
  content: "";
  background: white;
  mix-blend-mode: exclusion;
  width: calc(100% + 10px);
  height: 0px;
  position: absolute;
  bottom: -4px;
  left: -5px;
  transition: 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  border-radius: 10px;
}
.main-nav a:hover::after {
  height: calc(100% + 8px);
}

.main-nav a.active::after {
  height: 1px;
}

table {
  overflow-x: auto;
}
table th {
  white-space: nowrap;
}
table td,
table th {
  padding: 12px 15px;
}

table tr:last-of-type {
  border-bottom: 2px solid rgb(54, 79, 115);
}
table thead tr {
  color: rgb(54, 79, 115);
  text-align: left;
}

tbody tr {
  border-bottom: 1px solid rgba(54, 79, 115, 0.8);
}

.cover {
  background: white;
  break-after: always;
  page-break-after: always;
  margin: 0mm 0mm !important;
}
.cover .lastUpdated {
  bottom: -30px;
  left: 0;
}

@media print {
  body {
    background: white;
    color: black;
    margin: 0;
    padding: 0;
  }
  .cover {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    background: white;
    break-after: always;
    page-break-after: always;
    margin: 0mm 0mm !important;
  }

  .cover .lastUpdated {
    bottom: -30px;
    left: 0;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  p {
    widows: 4;
    orphans: 3;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    page-break-after: avoid;
  }

  @page {
    background: white;
    size: A4 portrait;
    margin: 20mm 30mm;
    padding: 5mm 0mm;
    @top-left {
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='35' viewBox='0 0 114 82'%3E%3Cscript xmlns=''/%3E %3Cg%3E %3Cpath d='M3.227,79.785c-.653,0-1.066-.161-1.508-.573v2.765H.804v-8.244h.895l-.02,.613c.422-.483,.895-.694,1.548-.694,1.307,0,2.534,1.036,2.534,3.046,.01,2.011-1.227,3.087-2.534,3.087Zm-.111-5.278c-.553,0-.915,.171-1.387,.674v3.097c.412,.473,.814,.664,1.387,.664,.935,0,1.729-.744,1.729-2.252,0-1.458-.804-2.182-1.729-2.182Z' fill='%23282828'/%3E %3Cpath d='M10.888,79.705l.03-.633c-.452,.483-1.367,.724-1.95,.724-1.086,0-1.92-.613-1.92-1.649,0-1.438,1.629-1.78,3.117-2.071l.714-.141c-.02-.955-.352-1.478-1.277-1.478-.613,0-1.267,.271-1.629,.804l-.674-.563c.583-.714,1.428-1.066,2.262-1.066,1.488,0,2.222,.845,2.222,2.182v3.891h-.895Zm-.372-2.946c-1.056,.231-2.493,.503-2.493,1.317,0,.643,.422,.915,1.116,.915,.543,0,1.397-.271,1.749-.764v-1.548l-.372,.08Z' fill='%23282828'/%3E %3Cpath d='M16.559,74.99c-.241-.312-.583-.513-1.005-.513-.382,0-.684,.221-.905,.533v4.705h-.935v-5.972h.905l-.01,.473c.271-.382,.674-.553,1.116-.553,.664,0,1.086,.302,1.518,.824l-.684,.503Z' fill='%23282828'/%3E %3Cpath d='M20.882,79.785c-1.327,0-1.88-.804-1.88-2.162v-3.076h-.714v-.814h.714c0-.412,.02-.834,.02-1.247l.895-.412v1.669h1.85v.814h-1.85v3.137c0,.824,.221,1.277,.965,1.277,.251,0,.483-.111,.684-.292l.553,.633c-.342,.292-.754,.473-1.237,.473Z' fill='%23282828'/%3E %3Cpath d='M28.543,79.775c-1.478,0-2.634-1.066-2.634-3.056,0-2.001,1.146-3.066,2.634-3.066s2.644,1.066,2.644,3.066c0,1.991-1.146,3.056-2.644,3.056Zm0-5.258c-.965,0-1.709,.724-1.709,2.202,0,1.508,.744,2.192,1.709,2.192,.975,0,1.719-.684,1.719-2.192,.01-1.478-.754-2.202-1.719-2.202Z' fill='%23282828'/%3E %3Cpath d='M35.349,72.667c-.171-.161-.392-.261-.613-.261-.653,0-.834,.493-.834,.965v.372h1.237v.824h-1.227v5.137h-.925v-5.137h-.714v-.824h.714v-.302c0-.985,.513-1.84,1.759-1.84,.462,0,.824,.171,1.146,.462l-.543,.603Z' fill='%23282828'/%3E %3Cpath d='M46.026,80.167c-3.076,0-5.349-1.93-6.173-2.916l2.725-2.182c.985,1.056,2.292,1.79,3.529,1.79,1.428,0,2.152-.734,2.152-1.629,0-2.272-7.751-2.131-7.751-7.108,0-2.825,2.413-4.745,5.781-4.745,3.097,0,5.278,2.292,5.278,2.292l-2.433,2.202s-1.307-1.146-2.845-1.146c-1.397,0-2.001,.573-2.001,1.377,0,2.222,7.681,2.021,7.681,7.088,.02,3.368-3.056,4.977-5.942,4.977Z' fill='%23282828'/%3E %3Cpath d='M59.478,79.866c-3.026,0-5.6-2.152-5.6-6.072,0-3.941,2.544-6.193,5.6-6.193,1.83,0,3.046,.553,4.494,2.202l-2.383,1.81c-.734-.915-1.327-1.096-2.061-1.096-1.096,0-2.272,.935-2.272,3.278,0,2.222,1.146,3.137,2.272,3.137,.664,0,1.287-.141,2.061-1.096l2.413,1.669c-1.367,1.769-2.715,2.363-4.524,2.363Z' fill='%23282828'/%3E %3Cpath d='M72.729,79.705v-6.857c0-1.096-.141-2.343-1.629-2.343-.684,0-1.377,.342-1.739,.875v8.325h-3.418v-16.026h3.418v4.977c.483-.483,1.518-1.056,2.795-1.056,3.308,0,3.991,2.725,3.991,5.298v6.806h-3.418Z' fill='%23282828'/%3E %3Cpath d='M81.788,74.477c.04,1.578,1.196,2.664,2.272,2.664,.824,0,1.377-.271,1.991-1.076l2.795,1.307c-1.287,1.83-2.775,2.503-4.816,2.503-3.207,0-5.59-2.182-5.59-6.072,0-3.921,2.473-6.193,5.439-6.193,3.117,0,5.389,2.222,5.389,6.103v.784h-7.48v-.02Zm.09-2.312h3.971c-.201-1.327-.945-2.061-1.971-2.061-.975-.01-1.769,.845-2.001,2.061Z' fill='%23282828'/%3E %3Cpath d='M94.445,74.477c.04,1.578,1.196,2.664,2.272,2.664,.824,0,1.377-.271,1.991-1.076l2.795,1.307c-1.287,1.83-2.775,2.503-4.816,2.503-3.207,0-5.59-2.182-5.59-6.072,0-3.921,2.473-6.193,5.439-6.193,3.117,0,5.389,2.222,5.389,6.103v.784h-7.48v-.02Zm.08-2.312h3.971c-.201-1.327-.945-2.061-1.971-2.061-.965-.01-1.769,.845-2.001,2.061Z' fill='%23282828'/%3E %3Cpath d='M110.934,71.521c-.392-.643-1.036-1.005-1.739-1.005-.623,0-1.106,.322-1.488,.784v8.415h-3.398v-11.934h3.348l-.05,.895c.412-.503,1.287-1.056,2.312-1.056,1.508,0,2.524,.664,3.368,2.021l-2.353,1.88Z' fill='%23282828'/%3E %3C/g%3E %3Cg%3E %3Cg%3E %3Cpath d='M73.825,30.743c0-9.38-5.56-15.774-15.151-15.774-4.585,0-8.345,1.95-10.918,5.077-2.503-3.197-6.253-5.077-10.707-5.077-3.891,0-7.018,1.669-9.239,4.383v-3.479h-8.827V51.665h9.239V30.743c0-4.032,2.845-7.088,6.887-7.088,6.042,0,6.676,5.007,6.676,7.088v20.922h9.239V30.743c0-4.032,2.845-7.088,6.947-7.088,5.982,0,6.676,5.007,6.676,7.088v20.922h9.179s0-20.922,0-20.922Z' fill='%23282828'/%3E %3Cpath d='M112.472,20.478c-3.388-3.398-8.073-5.509-13.251-5.509-10.365,0-18.77,8.405-18.77,18.77s8.405,18.77,18.77,18.77c6.012,0,11.341-2.825,14.779-7.219l-6.997-5.469c-1.739,2.634-4.564,4.363-7.782,4.363-5.318,0-9.642-4.675-9.642-10.446s4.313-10.446,9.642-10.446c2.805,0,5.308,1.317,7.058,3.398l6.193-6.213Z' fill='%23282828'/%3E %3C/g%3E %3Crect x='.824' y='15.873' width='9.179' height='35.802' fill='%23282828'/%3E %3Cpath d='M5.409,11.299c2.986,0,5.399-2.423,5.399-5.399S8.395,.491,5.409,.491,0,2.914,0,5.89s2.423,5.409,5.409,5.409' fill='%23282828'/%3E %3C/g%3E %3C/svg%3E");
      margin-top: 10mm;
    }
    @bottom-left {
      content: "imc GmbH";
      font-weight: bold;
    }
    @bottom-right {
      content: "Page " counter(page);
      font-weight: bold;
    }
  }

  /* prettier-ignore */
  @page:first{
    background: white;
    margin: 20mm 0mm;
    @top-right {
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='70' height='50' viewBox='0 0 114 82'%3E%3Cscript xmlns=''/%3E %3Cg%3E %3Cpath d='M3.227,79.785c-.653,0-1.066-.161-1.508-.573v2.765H.804v-8.244h.895l-.02,.613c.422-.483,.895-.694,1.548-.694,1.307,0,2.534,1.036,2.534,3.046,.01,2.011-1.227,3.087-2.534,3.087Zm-.111-5.278c-.553,0-.915,.171-1.387,.674v3.097c.412,.473,.814,.664,1.387,.664,.935,0,1.729-.744,1.729-2.252,0-1.458-.804-2.182-1.729-2.182Z' fill='%23282828'/%3E %3Cpath d='M10.888,79.705l.03-.633c-.452,.483-1.367,.724-1.95,.724-1.086,0-1.92-.613-1.92-1.649,0-1.438,1.629-1.78,3.117-2.071l.714-.141c-.02-.955-.352-1.478-1.277-1.478-.613,0-1.267,.271-1.629,.804l-.674-.563c.583-.714,1.428-1.066,2.262-1.066,1.488,0,2.222,.845,2.222,2.182v3.891h-.895Zm-.372-2.946c-1.056,.231-2.493,.503-2.493,1.317,0,.643,.422,.915,1.116,.915,.543,0,1.397-.271,1.749-.764v-1.548l-.372,.08Z' fill='%23282828'/%3E %3Cpath d='M16.559,74.99c-.241-.312-.583-.513-1.005-.513-.382,0-.684,.221-.905,.533v4.705h-.935v-5.972h.905l-.01,.473c.271-.382,.674-.553,1.116-.553,.664,0,1.086,.302,1.518,.824l-.684,.503Z' fill='%23282828'/%3E %3Cpath d='M20.882,79.785c-1.327,0-1.88-.804-1.88-2.162v-3.076h-.714v-.814h.714c0-.412,.02-.834,.02-1.247l.895-.412v1.669h1.85v.814h-1.85v3.137c0,.824,.221,1.277,.965,1.277,.251,0,.483-.111,.684-.292l.553,.633c-.342,.292-.754,.473-1.237,.473Z' fill='%23282828'/%3E %3Cpath d='M28.543,79.775c-1.478,0-2.634-1.066-2.634-3.056,0-2.001,1.146-3.066,2.634-3.066s2.644,1.066,2.644,3.066c0,1.991-1.146,3.056-2.644,3.056Zm0-5.258c-.965,0-1.709,.724-1.709,2.202,0,1.508,.744,2.192,1.709,2.192,.975,0,1.719-.684,1.719-2.192,.01-1.478-.754-2.202-1.719-2.202Z' fill='%23282828'/%3E %3Cpath d='M35.349,72.667c-.171-.161-.392-.261-.613-.261-.653,0-.834,.493-.834,.965v.372h1.237v.824h-1.227v5.137h-.925v-5.137h-.714v-.824h.714v-.302c0-.985,.513-1.84,1.759-1.84,.462,0,.824,.171,1.146,.462l-.543,.603Z' fill='%23282828'/%3E %3Cpath d='M46.026,80.167c-3.076,0-5.349-1.93-6.173-2.916l2.725-2.182c.985,1.056,2.292,1.79,3.529,1.79,1.428,0,2.152-.734,2.152-1.629,0-2.272-7.751-2.131-7.751-7.108,0-2.825,2.413-4.745,5.781-4.745,3.097,0,5.278,2.292,5.278,2.292l-2.433,2.202s-1.307-1.146-2.845-1.146c-1.397,0-2.001,.573-2.001,1.377,0,2.222,7.681,2.021,7.681,7.088,.02,3.368-3.056,4.977-5.942,4.977Z' fill='%23282828'/%3E %3Cpath d='M59.478,79.866c-3.026,0-5.6-2.152-5.6-6.072,0-3.941,2.544-6.193,5.6-6.193,1.83,0,3.046,.553,4.494,2.202l-2.383,1.81c-.734-.915-1.327-1.096-2.061-1.096-1.096,0-2.272,.935-2.272,3.278,0,2.222,1.146,3.137,2.272,3.137,.664,0,1.287-.141,2.061-1.096l2.413,1.669c-1.367,1.769-2.715,2.363-4.524,2.363Z' fill='%23282828'/%3E %3Cpath d='M72.729,79.705v-6.857c0-1.096-.141-2.343-1.629-2.343-.684,0-1.377,.342-1.739,.875v8.325h-3.418v-16.026h3.418v4.977c.483-.483,1.518-1.056,2.795-1.056,3.308,0,3.991,2.725,3.991,5.298v6.806h-3.418Z' fill='%23282828'/%3E %3Cpath d='M81.788,74.477c.04,1.578,1.196,2.664,2.272,2.664,.824,0,1.377-.271,1.991-1.076l2.795,1.307c-1.287,1.83-2.775,2.503-4.816,2.503-3.207,0-5.59-2.182-5.59-6.072,0-3.921,2.473-6.193,5.439-6.193,3.117,0,5.389,2.222,5.389,6.103v.784h-7.48v-.02Zm.09-2.312h3.971c-.201-1.327-.945-2.061-1.971-2.061-.975-.01-1.769,.845-2.001,2.061Z' fill='%23282828'/%3E %3Cpath d='M94.445,74.477c.04,1.578,1.196,2.664,2.272,2.664,.824,0,1.377-.271,1.991-1.076l2.795,1.307c-1.287,1.83-2.775,2.503-4.816,2.503-3.207,0-5.59-2.182-5.59-6.072,0-3.921,2.473-6.193,5.439-6.193,3.117,0,5.389,2.222,5.389,6.103v.784h-7.48v-.02Zm.08-2.312h3.971c-.201-1.327-.945-2.061-1.971-2.061-.965-.01-1.769,.845-2.001,2.061Z' fill='%23282828'/%3E %3Cpath d='M110.934,71.521c-.392-.643-1.036-1.005-1.739-1.005-.623,0-1.106,.322-1.488,.784v8.415h-3.398v-11.934h3.348l-.05,.895c.412-.503,1.287-1.056,2.312-1.056,1.508,0,2.524,.664,3.368,2.021l-2.353,1.88Z' fill='%23282828'/%3E %3C/g%3E %3Cg%3E %3Cg%3E %3Cpath d='M73.825,30.743c0-9.38-5.56-15.774-15.151-15.774-4.585,0-8.345,1.95-10.918,5.077-2.503-3.197-6.253-5.077-10.707-5.077-3.891,0-7.018,1.669-9.239,4.383v-3.479h-8.827V51.665h9.239V30.743c0-4.032,2.845-7.088,6.887-7.088,6.042,0,6.676,5.007,6.676,7.088v20.922h9.239V30.743c0-4.032,2.845-7.088,6.947-7.088,5.982,0,6.676,5.007,6.676,7.088v20.922h9.179s0-20.922,0-20.922Z' fill='%23282828'/%3E %3Cpath d='M112.472,20.478c-3.388-3.398-8.073-5.509-13.251-5.509-10.365,0-18.77,8.405-18.77,18.77s8.405,18.77,18.77,18.77c6.012,0,11.341-2.825,14.779-7.219l-6.997-5.469c-1.739,2.634-4.564,4.363-7.782,4.363-5.318,0-9.642-4.675-9.642-10.446s4.313-10.446,9.642-10.446c2.805,0,5.308,1.317,7.058,3.398l6.193-6.213Z' fill='%23282828'/%3E %3C/g%3E %3Crect x='.824' y='15.873' width='9.179' height='35.802' fill='%23282828'/%3E %3Cpath d='M5.409,11.299c2.986,0,5.399-2.423,5.399-5.399S8.395,.491,5.409,.491,0,2.914,0,5.89s2.423,5.409,5.409,5.409' fill='%23282828'/%3E %3C/g%3E %3C/svg%3E");
      margin-top: 10mm;
      margin-right: 20mm;
    }
    @top-left {
      content: "";
    }
    @bottom-left {
      content: "";
    }
    @bottom-right {
      content: "";
    }
  }
}
