@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-attachment: fixed;
  background-color: #1b1b1b;
  background-image: linear-gradient(rgba(22, 29, 39, .85), rgba(22, 29, 39, .75)), url(https://imc-blish-design-assets.s3.eu-central-1.amazonaws.com/logon-background-v2.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.5em;
}

h1 {
  font-size: 30px;
  line-height: 38px;
}

h1,h2 {
  align-items: center;
  font-weight: 300;
  letter-spacing: 0
}

h2 {
  font-size: 26px;
  line-height: 32px;
}

h3 {
  font-size: 23px;
  font-weight: 300;
  line-height: 30px;
}

h4 {
  font-size: 19px;
  font-weight: 300;
  line-height: 25px;
}

h5 {
  font-size: 17px;
  line-height: 24px;
}

h6 {
  font-size: 14px;
  line-height: 20px;
}

li ,p {
  font-size: 17px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 24px
}

.page-style h1, 
.page-style h2, 
.page-style h3 {
  margin: 1rem 0;
}
.page-style h4, 
.page-style h5,
.page-style h6 {
  margin: .75rem 0;
}

.page-style p{
  margin: 0.5rem 0;
}
.page-style ul {
  margin: 0.5rem 0 .5rem 1.5rem;
  list-style: disc;
}
.release ol,.release ul {
  line-height: 1.5;
  margin: 8px;
  padding-left: 16px
}

.release li {
  list-style: disc;
}

.release h2:after {
  background-color: #e9393e;
  content: "";
  display: block;
  height: 3px;
  margin-left: 0;
  margin-top: 8px;
  position: absolute;
  width: 30px;
}

.tutorialcard::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  background-size: cover;
  transform-origin: center;
  transition: transform .4s ease-in-out;
}

.tutorialcard:focus::after,
.tutorialcard:hover::after {
      transform: scale(1.03);
}

.faq-item a { 
  border-bottom: 1px solid rgba(255,255,255,0.5);
  transition: border-bottom  ease-in-out 200ms;
}
.faq-item a:hover {
  border-bottom: 2px solid rgba(255,255,255,1);
}
.main-nav a {
  padding: 4px 12px;
}
.main-nav a::after {
  content: "";
    background: white;
    mix-blend-mode: exclusion;
    width: calc(100% + 10px);
    height: 0px;
    position: absolute;
    bottom: -4px;
    left: -5px;
    transition: 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    border-radius: 10px;
}
.main-nav a:hover::after {
  height: calc(100% + 8px);
}

.main-nav a.active::after {
  height: 1px;
}